@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #070707;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #23396c;
  --primary-foreground: #e3e3e3;
  --secondary: #3451b2;
  --secondary-foreground: #fff;
  --muted: #8e8e8e;
  --muted-foreground: #23396c;
  --accent: #1ed9b6;
  --accent-foreground: #fff;
  --destructive: #e34c26;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b5b5b5;
}

.dark:root {
  --background: #252525;
  --title: #1e3a8a;
  --foreground: #fafafa;
  --card: #3451b2;
  --card-foreground: #fafafa;
  --popover: #444444;
  --popover-foreground: #fafafa;
  --primary: #23396c;
  --primary-foreground: #fff;
  --secondary: #3451b2;
  --secondary-foreground: #fff;
  --muted: #b5b5b5;
  --muted-foreground: #23396c;
  --accent: #1ed9b6;
  --accent-foreground: #fff;
  --destructive: #d7263d;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #8e8e8e;
}

h1 {
  @apply text-primary text-2xl font-bold mb-4;
}

h2 {
  @apply text-primary font-semibold mb-3.5;
}

h3 {
  @apply text-mutedForeground font-semibold mb-2;
}

p {
  @apply text-sm text-gray-800 leading-6;
}
